@model RecipeBook.Models.IngredientCategory

@{
    ViewData["Title"] = "Изтриване на категория";
}

<h1 class="mb-4 text-danger">Изтрий категория</h1>

<div class="alert alert-warning">
    Сигурни ли сте, че искате да изтриете следната категория?
</div>

<div class="mb-3">
    <dl class="row">
        <dt class="col-sm-3">Име на категория</dt>
        <dd class="col-sm-9">@Model.Name</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Назад</a>
    </div>
</form>
