@model RecipeBook.Models.IngredientCategory

@{
    ViewData["Title"] = "Детайли за категория";
}

<div class="container mt-4">
    <h1>Детайли за категория съставки</h1>

    <br/>

    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-muted">Име на категорията:</dt>
                <dd class="col-sm-9">@Model.Name</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">
            <i class="bi bi-pencil-square"></i> Редактирай
        </a>
        <a asp-action="Index" class="btn btn-outline-primary">
            <i class="bi bi-arrow-left"></i> Назад към списъка
        </a>
    </div>
</div>
