@model RecipeBook.Views.Recipes.ViewModels.RecipeFilterViewModel

@{
    ViewData["Title"] = "Recipes";
    bool isUserAdmin = ViewData["IsUserAdmin"] as bool? ?? false;
    string currentUserId = ViewData["CurrentUserId"] as string;
}


@using System.Text.RegularExpressions

<div class="header-container">
    <h1>Recipes</h1>
    <div class="actions">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
</div>

<form asp-action="@(ViewData["CurrentAction"] ?? "Index")" method="get" class="filter-form">
    <div class="filter-container">
        <label for="category" class="form-label">Category:</label>
        <select id="category" name="categoryId" asp-items="@Model.Categories" asp-for="SelectedCategoryId" class="form-control">
            <option value="">All</option>
        </select>
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>


<div class="container mt-3">
    <div class="row">
     @foreach (var card in @Model.Recipes)
    {
        @Html.Partial("_RecipeCard", card)
    }
    </div>
</div>