@{
    ViewData["Title"] = "Home Page";
}

@model RecipeBook.Views.Home.ViewModels.HomeViewModel

<div class="container mt-3">

    <div class="container text-center mt-4">
        <img src="~/images/logo2clear.png" alt="Featured Image" style="width: 50%; height: auto;">
        <br />
        <h1 class="display-4">Открийте радостта от готвенето!</h1>
        <p class="lead">Открийте нови рецепти, разгърнете креативността си и споделете кулинарните си шедьоври!</p>
        <a class="btn btn-primary" href="@Url.Action("Create", "Recipes")">Добави своята рецепта</a>
    </div>

    <div class="row">
    @foreach (var card in Model.FeaturedRecipes)
    {
        @Html.Partial("_RecipeCard", card)
    }
    </div>
</div>


