@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <h2>Introduction</h2>
    <p>This Privacy Policy describes how we handle your personal information for our services on the Recipe book website.</p>

    <h2>Information Collection</h2>
    <p>We collect personal information in order to provide better services to all of our users. Information is collected via:</p>
    <ul>
        <li>Registration forms</li>
        <li>Cookies and tracking technology depending on the features offered.</li>
    </ul>

    <h2>Use of Information</h2>
    <p>The information we collect is used for the following purposes:</p>
    <ul>
        <li>Providing our services</li>
        <li>Personalizing user experience</li>
        <li>Improving customer service</li>
    </ul>

    <h2>Information Sharing and Disclosure</h2>
    <p>We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may disclose personal information to respond to legal requirements, enforce our policies, or protect anyone's rights, property, or safety.</p>

    <h2>Cookies and Tracking Technologies</h2>
    <p>We use various technologies to collect and store information when you visit our website, and this may include using cookies or similar technologies to identify your browser or device.</p>

    <h2>Data Security</h2>
    <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data.</p>
</div>
